<h1>All the awesome DECKS</h1>

<% @decks.each do |deck| %>
<div class="deck">
 <h4><a href="/flashcards/<%= deck.id %>"><%= deck.title %></a></h4>
</div>
<br>
<% end %>


<h2>My Stats</h2>
<% count = 1 %>
<% @rounds.each do |round| %>
Round <%= count %> - <%= round.guesses.where(correct: true).length %>/<%= round.guesses.length %><br>
<% count += 1 %>
<% end %>